input[type="text"]{
    display:block;
    width:50%;
    border: 1px solid #ccc;
    font:inherit;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom:0.25rem;
}



.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
    line-height: 1.5rem;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }